/**{
    font-family: 'Noto Sans', sans-serif;
}
*/


        /* LOGIN */
.login{
    position: relative;
    width: 100%;
    height: 700px;
    background: linear-gradient(90.13deg, #615BA3 1.76%, #2C2858 98%);
    background-image: url('../images/img-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.retangulo{
    position: absolute;
    width: 653px;
    height: 648px;
    left: 0px;
    top: 0px;
    background-color: #F8F8F8;
    border-radius: 0px 0px 150px 0px;
}

.form-area{
    margin-left: 300px;
}

.logo{
    width: 220px;
    padding-top: 30px;
    padding-bottom: 33px;
    background-color: #F8F8F8;
}

.form{
    width: 380px;
    height: 440px;
    background-color:#FFFFFF;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 60px 10px;
}

.form p{
    margin-bottom: 40px;
    color: #89879E;
}

.form .esqueceu{
    margin-left: 100px;
    color: #89879E;
}

.form input[type="email"],
.form input[type="password"]{
    width: 100%;
    max-width: 340px;
    padding:10px;
    color: #89879E;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
}

::-webkit-input-placeholder {
    color: #89879E;
 }

.form .checkbox{
    width: 100%;
    max-width: 340px;
    background: #FAFAFAFA;
    color: #89879E;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.form .check-login{
    margin-right: 15px;
}

.form input[type="submit"]{
    width: 100%;
    max-width: 340px;
    margin-top: 20px;
    padding: 8px;
    color: #FFFFFF;
    outline: none;
    border: none;
    background: #00B976;
    border-radius: 10px 10px 25px 10px;
}

.infologin{
    width: 250;
    height: 313px;
    color: #FFFFFF;
    line-height: 25px;
    margin-right: 390;
    margin-top: 150px;
    padding-right: 30px;
}

.info span{
    color:#00B976;
}






            /* HEADER*/

header {
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
    z-index: 1500;
}

.header .row{
    height: 71px;
}

.row .custom-logo{
    width: 135px;
    height: 35px;
    margin: 15px 20px 20px 20px;
}

.col-sm-8,
.col-sm-2 {
    height: 71px;
}
.menuarea nav ul,
.menuarea nav li,
.menuarea nav .dropdown{
    margin:0px;
    padding:0px;
    list-style: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.menuarea nav li,
.menuarea nav .dropdown{
    float:left;
    margin-left: 35px;
    line-height: 71px;
    color:#2C2858;
}
.menuarea nav li a,
.menuarea nav .dropdown a{
    color:#2C2858;
    text-decoration: none;
}

.usuario .avatar{
    float: left;
    margin-top: 8px;
    margin-right: 15px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.usuario span{
    color: #89879E;
    font-size: 14px;
}

.usuario .info{
    max-width: 200px;
    padding-top: 10px;
    font-size: 16px;
}

.usuario .p{
    color: #2C2858;
    font-size: 14px;
}

.usuario .dropdown-toggle::after {
    display: none;
}

.usuario  .dado{
    float: right;
    position: absolute;
    top: -57px;
    right: 33px;
    width: 24px;
    height: 25px;
    border-radius: 10px;
    background: #F1F1F1;
}

.usuario .sub-menu{
    left: 30px !important;
	width:180px;
    position:absolute !important;
	background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 2000;
}

.usuario .sub-menu li{
    width: 170px;
    height: 36px;
    font-size: 12px;
    line-height: 37px !important;
    color: #2C2858 !important;
}

.usuario a{
    text-decoration: none;
}

.usuario .dropdown-menu{
    padding: 0px;
}

.usuario .sub-menu img{
	width:20px;
    height: 20px;
    margin-left: 10px;
   
}

.sub-menu {
    left: -20px !important;
	width:180px;
    position:absolute !important;
	background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 2000;
}

.sub-menu li{
    width: 170px;
    margin-left: 8px !important;
    font-size: 14px;
    line-height: 50px !important;
    color: #2C2858 !important;
}

.sub-menu .primeiro {
    border-bottom: 1px solid #E7E7E7;
}

.sub-menu li img{
    margin-right: 8px;
}

.menu-item-has-children:hover  .sub-menu {
	display:block;
}








        /* FOOTER */

footer{
    height: 80px;
    background: linear-gradient(90.13deg, #2C2858 1.76%, #615BA3 98%);
}


footer nav li a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important ;
    color: #FFFFFF !important;
}

footer .menuarea nav li:first-child{
    margin-left: 10px !important;
}

footer .menuarea nav li{
    margin-top: 5px !important;
    margin-left: 80px !important;
}

footer img{
    margin-top: 13px;
    margin-left: 50px;
}

footer .direitos{
    margin-top: 9px;
    height: 30px;
    background-color: #2C2858;
    color: #FFFFFF;
}
footer .info{
    margin-left: 170px;
    padding-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}









        /*  MODAL */

@keyframes modal{
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}

.modal-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1500;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container.mostrar{
    display: flex;
}

.m-contato{
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 580px;
    background-color:#FFFFFF;
    border-radius: 5px 5px 80px 5px;
    text-align: center;
}

.mostrar .m-contato{
    animation: modal 0.4s;
}
.m-contato .fechar{
    position: absolute;
    top: -2px;
    right: 10px;
    background-color:rgba(0, 0, 0, 0.0);
    border: none;
    font-size: 25px;
    font-family: monospace ;
    color:#2C2858 ;
}

.m-contato h2{
    margin-top: 50px;
    margin-bottom: 35px;
    color: #2C2858;
}

.m-contato ::-webkit-input-placeholder {
    color: #c8c8ce;
 }

.m-contato input[type="text"],
.m-contato input[type="email"]{
    margin-left: 100px;
    width: 100%;
    max-width: 430px;
    height: 35px;
    padding: 18px;
    border: 1px solid #dedee4;
    outline: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
}

.m-contato textarea{
    margin-left: 100px;
    width: 100%;
    max-width: 430px;
    height: 85px;
    max-height: 100;
    padding: 18px;
    border: 1px solid #dedee4;
    outline: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 14px;
}

.m-contato input[type="submit"]{
    margin-left: 250px;
    margin-top: 25px;
    width: 125px;
    height: 40px;
    background-color: #6694fb;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    border-radius: 5px 5px 20px 5px;
}

.m-contato span{
    margin-left: 228px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 500;
    color:#c8c8ce ;
}


    /* EDITAR */

.modal-container.editar{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1500;
    display: none;
}

.modal-container.mostrar{
    display: flex;
}

.m-editar{
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 355px;
    padding-left: 32px;
    background-color:#FFFFFF;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.editar .m-contato{
    animation: modal 0.4s;
}
.m-editar .fechar{
    position: absolute;
    top: -2px;
    right: 10px;
    background-color:rgba(0, 0, 0, 0.0);
    border: none;
    font-size: 25px;
    font-family: monospace ;
    color:#2C2858 ;
}

.m-editar h6{
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #2C2858;
}

.m-editar ::-webkit-input-placeholder {
    color: #c8c8ce;
 }

.m-editar .input-longo{
    margin-left: 100px;
    width: 100%;
    max-width: 485px;
    height: 33px;
    padding: 13px;
    border: 1px solid #dedee4;
    outline: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
}

.m-editar .curto{
    margin-left:80px ;
}

.m-editar .input-curto{
    margin: 0px 5px 0px 5px; 
    width: 100%;
    max-width: 236px;
    height: 33px;
    padding: 13px;
    border: 1px solid #dedee4;
    outline: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
}

.m-editar .input-curto.select{
    padding: 6px;
    color: #c8c8ce;
}

.m-editar input[type="submit"]{
    margin-left: 218px;
    margin-top: 25px;
    width: 240px;
    height: 35px;
    background-color: #00B976;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    border-radius: 5px 5px 20px 5px;
}



        /* EXCLUIR */

.modal-container.excluir{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1500;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container.mostrar{
    display: flex;
}

.m-excluir{
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 100%;
    max-height: 185px;
    padding-top: 20px;
    background-color:#FFFFFF;
    border-radius: 5px 5px 20px 5px;
    text-align: center;
}

.excluir .m-contato{
    animation: modal 0.4s;
}
.m-excluir .fechar{
    position: absolute;
    top: -2px;
    right: 10px;
    background-color:rgba(0, 0, 0, 0.0);
    border: none;
    font-size: 25px;
    font-family: monospace ;
    color:#2C2858 ;
    display: none;
}

.m-excluir .title{
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height:80px ;
    margin: auto;
    padding: 20px 0px 20px 30px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #6694fb;
    border-radius: 5px;
}

.m-excluir label{
    margin-left: 50px;
    margin-top: 25px;
    width: 100%;
    max-width: 120px;
    height: 40px;
    padding-top: 8px;
    background-color: #fa6969;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 5px 5px 20px 5px;
}

.m-excluir .excluir{
    margin-left: 10px;
    margin-top: 25px;
    width: 100%;
    max-width: 120px;
    height: 40px;
    padding-top: 8px;
    background-color: #f8f8f8;
    font-size: 14px;
    border-radius: 5px 5px 20px 5px;
}










        /* HOME */

.home .container-fluid{
    padding-right: 0px; 
    padding-left: 0px;
    background-color:#F8F8F8 ;
}
.home .mix{
    background-color: #E6E9F1;
}

.home .mix .row{
    margin-left: 0px;
    margin-right: 0px;
}

.home .mix .col-sm-7{
    max-width: 740px;
    padding: 0px;
}

.home .mix .bemvindo{
    max-width: 740px;
    color: #FFFFFF;
    background: linear-gradient(90.13deg, #2C2858, #615BA3);
    border-radius: 0px 0px 90px 0px;
}

.home .mix .bemvindo .infos{
    width: 100%;
    max-width: 535px;
    margin-left:auto;
}

.home .mix .bemvindo .infos .title{
    margin-top:75px ;
    margin-bottom: 25px;
}

.home .mix .bemvindo .infos .col-sm-6:first-child{
    background:linear-gradient(90.13deg, #6694FB, rgba(102, 148, 251, 0.49));
}

.home .mix .bemvindo .infos .cadastradas,
.home .mix .bemvindo .infos .geradas{
    padding: 20px 10px 25px 30px;
}

.home .mix .bemvindo .infos .geradas .img-geradas{
    width: 64px;
    padding: 15px;
    background-color:#FFFFFF;
    border-radius: 10px;
}

.home .mix .bemvindo .infos .cadastradas .info-cadastradas{
    width: 100%;
    max-width: 110px;
    margin-top: 10px;
    font-size: 14px;
}

.home .mix .bemvindo .infos .geradas .info-geradas{
    width: 100%;
    max-width: 110px;
    margin-top: 10px;
    font-size: 14px;
}

.home .mix .bemvindo .infos .cadastradas .info-cadastradas h2,
.home .mix .bemvindo .infos .geradas .info-geradas h2{
    margin-bottom: 0px !important;
}

.home .mix .bemvindo .infos .cadastradas .botao-cadastradas{
    width: 100%;
    max-width: 170px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 9px;
    padding-left: 29px;
    font-size: 14px;
    color: #FFFFFF;
    background: #6694FB;
    border-radius: 8px 8px 20px 8px;
}
.home .mix .bemvindo .infos .cadastradas a{
    text-decoration: none;
}

.home .mix .bemvindo .infos .geradas .botao-geradas{
    width: 100%;
    max-width: 170px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 9px;
    padding-left: 29px;
    font-size: 14px;
    color: #00B976;
    background: #FFFFFF;
    border-radius: 8px 8px 20px 8px;
}

.home .mix .bemvindo .infos .col-sm-6{
    width: 100%;
    max-width: 225px;
    height: 250px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 8px 8px 30px 8px;
    box-shadow: 0px 18px 25px rgba(0, 0, 0, 0.2);
    background:linear-gradient(90.13deg, #00B976, #00CD9C);
}

.home .mix .cadastrar{
    max-width: 720px;
    align-content: flex-end;
}

.home .mix .cadastrar .colunas{
    margin-left: auto;
}

.home .mix .cadastrar .botao{
    width: 100%;
    max-width: 225px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    padding-top: 9px;
    padding-left: 29px;
    font-size: 14px;
    color: #FFFFFF;
    background: #6694FB;
    border-radius: 8px 8px 20px 8px;
}

.home .mix .cadastrar .colunas a{
    text-decoration: none;
}

.home .mix .cadastrar .info{
    width: 100%;
    max-width: 306px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #89879E;
    text-align: left;
    font-size: 12px;
    
}

.home .mix .cadastrar .info span{
   color:  #2C2858;
   opacity: 0.8;
   font-weight: 700;
}


.home .mix  .col-sm-5 {
    width: 100%;
    max-width: 473px;
    margin-right:auto;
    color: #2C2858;
}

.home .mix .col-sm-5 .noticias {
    padding-left: 20px;
}

.home .mix .col-sm-5 .title{
    margin-top:75px ;
    margin-bottom: 33px;
}

.home .mix .col-sm-5 .noticias .col-sm-4 .img{
    width: 115px;
    height: 100px;
    margin: auto;
    border-radius: 5px 5px 20px 5px;
}

.home .mix .col-sm-5 .noticias .principal{
    margin-bottom: 10px;
}

.home .mix .col-sm-5 .noticias .col-sm-6{
    padding-right: 0px;
}

.home .mix .col-sm-5 .noticias .row{
    margin-bottom: 10px;
}

.home .mix .col-sm-5 .noticias .col-sm-6 .teste{
    max-height: 77px;
    overflow-y: hidden;
}

.home .mix .col-sm-5 .noticias .col-sm-6 .title{
    font-weight: 600;
    color: #2C2858;
    font-size: 16px;
    text-transform: lowercase;
}

.home .mix .col-sm-5 .noticias .col-sm-6 a{
    font-size: 12px;
    text-decoration: none;
    color: #89879E;
    
}

.home .empresas{
    width: 100%;
    max-width: 940px;
    margin-left: 203px;
}

.home .empresas .topo{
    margin-top:40px;
}

.home .empresas .topo .pesquisa{
    width: 200px;
    height: 30px;
    border: none;
    padding: 6px 0px 7px 20px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.home .empresas .topo .pesquisa ::-webkit-input-placeholder{
    font-size: 11px;
    color: #89879E;

}

.home .empresas .topo .lupa{
    width: 30px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 0px 5px 5px 0px;
}

.home .empresas .topo .ordenar{
    margin-left:auto;
}

.home .empresas .topo .ordem{
    width: 200px;
    height: 30px;
    margin-top: 5px;
    margin-left:auto;
    padding: 3px 5px 10px 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.home .empresas .topo .ordem label{
    font-size: 11px;
    color: #89879E;
}

.home .empresas .topo .ordem select{
    height: 20px;
    border:none;
    outline: none;
    color: #89879E;
}

.home .empresas .topo .ordem select option{
    color: #89879E;
}

.home .empresas .topo .ordem select option img{
    width: 10px;
}


.home .empresas .cartao{
    margin-top:40px;
    border-radius: 5px;
    padding: 30px 34px 30px 22px;
    background-color: #FFFFFF;
}

.home .empresas .cartao .col-sm-4{
    max-width: 285px;
    max-height: 258px;
}

.home .empresas .cartao .opcoes .nome span{
    font-size: 14px;
    color: #89879E;
}

.home .empresas .cartao .opcoes .menus .visualizar,
.home .empresas .cartao .opcoes .menus .relatorios,
.home .empresas .cartao .opcoes .menus .editar,
.home .empresas .cartao .opcoes .menus .excluir{
    text-align: center;
    margin-bottom: 40px;
    margin-right: 30px;
}

.home .empresas .cartao .opcoes .menus a{
    text-decoration: none;
    font-size: 12px;
    color: #89879E;
}

.home .empresas .cartao .opcoes .menus img{
    width: 15px;
    margin-right: 8px;
}


.home .empresas .cartao .info{
    margin-left:28px;
    margin-right: 28px;
    background-color: #F5F8FF;
    border-radius: 8px;
}

.home .empresas .cartao .oportunidades{
    background-color: #E1FAF4;
    border-radius: 8px;
}

.home .empresas .cartao .info img,
.home .empresas .cartao .oportunidades img{
    width: 50px;
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
}

.home .empresas .cartao .info .info-texto{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    color:#6694FB;
}
.home .empresas .cartao .oportunidades .opo-texto{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    color: #00B976;
}

.home .empresas .cartao .info .porcentagem-info{
    max-width: 68px;
    margin-top: 25px;
    color:#6694FB;
}

.home .empresas .cartao .oportunidades .porcentagem-opo{
    margin-top: 25px;
    color: #00B976;
}

.home .empresas .cartao .info .progress{
    height: 7px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
    max-width: 200px;
}

.home .empresas .cartao .info .progress-bar.color{
    background-color:  #FA8D6B;
}

.home .empresas .cartao .info .progress-bar.color-2{
    background-color:  #FBC866;
}

.home .empresas .cartao .info .progress-bar.color-3{
    background-color:  #00B976;
}

.home .empresas .cartao .oportunidades .progress{
    height: 8px;
}

.home .empresas .cartao .info .atualizar a,
.home .empresas .cartao .oportunidades .ver a{
    text-decoration: none;
    color: #89879E;
}

.home .empresas .cartao .info .atualizar{
    margin-left: 10px;
}

.home .empresas .cartao .oportunidades .ver{
    margin-top: 85px;
    margin-left: 20px;
}

.home .paginacao{
    width: 100%;
    max-width: 940px;
    text-align: center;
    margin-top: 45px;
}

.home .pagination{
    padding-left: 570px;
}

.home .pagination .page-item.active .page-link{
    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: #6694FB;
    border-radius: 5px 5px 10px 5px;
    border-color: rgba(0, 0, 0, 0.0);
    color: #FFFFFF;
}

.home .pagination .page-item .page-link{
    margin: 5px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.0);
    color: #89879E;
    border: 0;

}

.home .pagination .page-item:first-child .page-link {
    padding-top: 0px;
    font-size: 22px;
    color: #6694FB !important;
    font-weight: 600 !important;
}

.home .pagination .page-item:last-child .page-link {
    padding-top: 0px;
    font-size: 22px;
    color: #6694FB !important;
    font-weight: 600 !important;
}

.home .marca img{
    width: 188px;
}

.home .marca{
    position: absolute;
    top:320px;
    right:0px;
}













        /* CADASTRO */

.cadastro .banner{
    height: 340px;
    background: linear-gradient(90.13deg, #2C2858, #615BA3);
}

.cadastro .row{
    width: 100%;
    max-width: 700px;
    flex-wrap: nowrap;
    margin:auto;
    padding-top: 75px;
}
.cadastro .banner .row:first-child{

    padding-top: 75px;
}

.cadastro .icone{
    width: 76px;
    height: 76px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 56px;
    background: #6694FB;
    border-radius: 10px 10px 25px 10px; 
}

.cadastro .icone img{
    width: 44px;
    height: 44px;
    margin-top: 15px;
    margin-left: 3px;
}

.cadastro .info{
    max-width: 608px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 44px;
}

.cadastro .info span{
    color: #576cbe;
}
.cadastro .info p{
    max-width: 500px;
}

.cadastro .fundo{
    height: 580px;
}

.cadastro .form{
    position:absolute;
    top: 370px;
    margin: auto;
    margin-left: 10px;
    width: 100%;
    max-width: 690px;
    height: 580px;
    text-align: center;
    padding: 20px 56px 20px  56px;
    box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 60px 10px;
}

.cadastro .row{
    padding-top: 30px;
}

.cadastro .form label{
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #2C2858;
}

.cadastro .form .esqueceu{
    margin-left: 100px;
    color: #89879E;
}

.cadastro .form input[type="text"]{
    width: 100%;
    max-width: 600px;
    height: 50px;
    padding: 21px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 10px;
}
.cadastro .form .mini input[type="text"]{
    max-width: 320px;
    padding-left: 21px;
}
.cadastro .form .mini input[type="text"]:first-child{
    margin-right: 30px;
}
.cadastro .form select{
    width: 100%;
    max-width: 320px;
    height: 50px;
    padding-left: 21px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 10px;
}
.cadastro .form select:first-child{
    margin-right: 30px;
}
::-webkit-input-placeholder,
.cadastro select {
    color: #89879E;
 }

.cadastro .form input[type="submit"]{
    width: 100%;
    max-width: 340px;
    margin-top: 52px;
    padding: 8px;
    color: #FFFFFF;
    outline: none;
    border: none;
    background: #00B976;
    border-radius: 10px 10px 25px 10px;
}








        /* SOBRE */

.sobre .banner{
    height: 400px;
    background: linear-gradient(90.13deg, #2C2858, #615BA3);
}

.sobre .row{
    width: 100%;
    max-width: 800px;
    flex-wrap: nowrap;
    margin:auto;
    padding-top: 75px;
}

.sobre .row.segunda{
    width: 100%;
    max-width: 935px;
    flex-wrap: nowrap;
    margin:auto;
    padding-top: 20px;
}

.sobre .icone{
    width: 115px;
    height: 115px;
    margin-right: 44px;
}

.sobre .icone img{
    width: 115px;
    height: 115px;
    margin-top: 15px;
    margin-left: 3px;
}

.sobre .info h2{
    margin-bottom: 30px;
    color: #FFFFFF;
}

.sobre .info p{
    color: #FFFFFF;
    font-style:normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
}

.sobre .info span{
    color: #576cbe;
}

.sobre .fundo{
    height: 405px;
}

.sobre .form.desc{
    position:absolute;
    top: 435px;
    left: 16vw;
    padding-left: 0px;
    width: 100%;
    max-width: 990px;
    height: 300px;
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
}

.sobre .form.desc p{
    color: #89879E;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

.sobre .form.desc .col-sm-6{
    margin-right: 28px;
}

.sobre .row.frase h5{
    position:absolute;
    top: 700px;
    left: 260px;
    width: 100%;
    max-width: 910px;
    height: 70px;
    padding: 20px;
    padding-left: 150px;
    background: linear-gradient(90.13deg, #00B976, #00CD9C);
    border-radius: 10px 10px 10px 10px;
}
.sobre .row.frase span{
    font-weight: 700;
    color: #2C2858;
}
.sobre .marca{
    position: absolute;
    top:150px;
    right:60px
}









        /* Forneça Informações */

.forneca .banner{
    height: 430px;
    background: linear-gradient(90.13deg, #2C2858, #615BA3);
}

.forneca .row{
    width: 100%;
    max-width: 927px;
    flex-wrap: nowrap;
    margin:auto;
    padding-top: 75px;
}

.forneca .row.deg-fundo{
    width: 557px;
    height: 110px;
    flex-wrap: nowrap;
    margin-left: 0px;
    padding-top: 0px;
    background: linear-gradient(90deg, #6694FB 0%, rgba(102, 148, 251, 0) 100%);
    opacity: 0.3;
    border-radius: 10px;
}

.forneca .row.teste2{
    position: absolute;
    top: 155px;
    width: 100%;
    max-width: 800px;
    flex-wrap: nowrap;
    margin:auto;
    padding-top: 0px;
}

.forneca .row.dados{
    width: 100%;
    max-width: 800px;
    flex-wrap: nowrap;
    margin: auto;
    padding-top: 30px;
}

.forneca .row img{
    width:45px;
    margin-right: 15;
}

.forneca  .info{
    color: #FFFFFF;
}

.forneca .opo-texto,
.forneca .info .titulo,
.forneca .porcentagem-opo h3{
    color: #00B976 !important;
}

.forneca .porcentagem-info h3,
.forneca .porcentagem-opo h3{
    font-size: 35px;
}

.forneca .info-texto,
.forneca .opo-texto {
    margin-left: 10px;
    font-size: 11px;
    font-weight: 700;
}

.forneca .info-texto,
.forneca .porcentagem-info h3{
    color: #6694FB;
}

.forneca .oportunidades a{  
    font-size: 11px;
    text-decoration: none;
    color: #FFFFFF;
}

.forneca .info .progress{
    height: 7px;
    margin-top: 8px;
    margin-left: 4px;
    max-width: 197px;
}

.forneca .info .progress-bar.color{
    background-color:  #FA8D6B;
}

.forneca .row.segunda{
    width: 100%;
    max-width: 935px;
    flex-wrap: nowrap;
    margin:auto;
    padding-top: 20px;
}

.forneca .icone{
    width: 115px;
    height: 115px;
    margin-right: 44px;
}

.forneca .icone img{
    width: 115px;
    height: 115px;
    margin-top: 15px;
    margin-left: 3px;
}

.forneca  .row .img-informacoes{
    width: 320px;
    
}

.forneca .info h2{
    margin-bottom: 13px;
    font-weight: 500;
    color: #FFFFFF;
}

.forneca .info p{
    max-width: 500px;
    color: #FFFFFF;
    font-size: 13px;    
}
.forneca .info .nome{
    margin-bottom: 0px;
}

.forneca .info .empresa{
    margin-bottom: 19px;
}

.forneca .info span{
    color: #6694FB !important;
}

.forneca .fundo{
    height: 650px;
    background-color: #faf8f8;
}

.forneca .text{
    text-decoration: none;
    color: #2C2858;
    font-weight: 500;
}



    /*MENU-1*/
.forneca .topico-1{
    position:absolute;
    top: 460px;
    left: 16vw;
    padding-left: 0px;
    width: 215px;
    height: 70px;
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #E9E9E9;
    text-align: center;
    cursor: pointer;
}

.forneca .dropdown-menu.menu-1{
    position: absolute !important;
    display: block;
    top: -2px !important;
    left: 230px !important;
    padding: 20px 21px 25px 25px !important;
    min-width: 43rem;
    height: 611px !important;
    box-shadow: none !important;
    border-radius: 10px 10px 10px 10px !important;
    border: none;
    cursor:default;
}

.forneca .mar-1 {
    margin-top: 13px;
}

.forneca .topico-1 img{
    margin-left: 0px;
    margin-right: 20px;
 }

 .forneca .menu-1 h4{
    color: #2C2858;
 }

.forneca #ramo-tela-2,
.forneca #ramo-tela-3,
.forneca #ramo-tela-4,
.forneca #ramo-tela-final{
    display: none;
}
.forneca .menu-1 .num-progresso-1 {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 110px;
    left: 18px;
    padding-top: 11px;
    padding-left: 9px;
    color: #FFFFFF;
    background-color: #6694FB;
    border-radius: 15px;
}

.forneca .menu-1 .num-progresso-2 {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 110px;
    left: 237px;
    padding-top: 11px;
    padding-left: 9px;
    color: #FFFFFF;
    background-color: #6694FB;
    border-radius: 15px;
}

.forneca .menu-1 .num-progresso-3 {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 110px;
    left:482px;
    padding-top: 11px;
    padding-left: 9px;
    color: #FFFFFF;
    background-color: #6694FB;
    border-radius: 15px;
}

.forneca .menu-1 .num-progresso-4 {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 110px;
    left: 720px;
    padding-top: 11px;
    padding-left: 9px;
    color: #FFFFFF;
    background-color: #6694FB;
    border-radius: 15px;
}

.forneca .progress .img-progresso-1{
    position: absolute;
    width: 24px;
    height: 25px;
    margin-right: 0px !important;
    top: 63px;
    left: 59px;
    background-color: #FFFFFF;
}
.forneca .progress .img-progresso-2{
    position: absolute;
    width: 24px;
    height: 25px;
    margin-right: 0px !important;
    top: 110px;
    left: 236px;
    background-color: #FFFFFF;
}
.forneca .progress .img-progresso-3{
    position: absolute;
    width: 24px;
    height: 25px;
    margin-right: 0px !important;
    top: 110px;
    left: 481px;
    background-color: #FFFFFF;
}

.forneca .menu-1 .row .checkbox-ramo{
    width: 100%;
    max-width: 927px;
    margin: auto;
    padding-top: 75px;
}

.forneca .menu-1 .check-option{
    width: 330px;
    height: 35px;
    margin-bottom: 15px;
    padding: 6px 0px 0px 11px;
    font-size: 14px;
    color: #89879E;
    background-color: #F9F9F9;
    border-radius: 5px;
}

 .forneca .menu-1 .check-option-{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 1px;
}
.forneca .menu-1 .check-option-{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 1px;
}

.forneca .menu-1 .check-option span{
    margin-left: 40px;
}

.forneca .menu-1 .proxima{
    position: absolute;
    width: 100%;
    max-width: 115px;
    height: 40px;
    top: 529px;
    right: 56px;
    padding-top: 9px;
    padding-left: 29px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    background: #6694FB;
    border-radius: 8px 8px 20px 8px;
}
.forneca .menu-1 .proxima-submit{
    position: absolute;
    width: 100%;
    max-width: 115px;
    height: 40px;
    top: 559px;
    right: 56px;
    padding-top: 0px;
    padding-left: 32px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    background: #6694FB;
    border-radius: 8px 8px 20px 8px;
    border: none;
    outline: none;
}
.forneca .menu-1 .anterior{
    position: relative;
    width: 100%;
    max-width: 115px;
    height: 40px;
    right: 0px;
    margin: 30px 15px 30px 14px;
    padding-top: 9px;
    padding-left: 29px;
    font-size: 14px;
    color: #89879E;
    background-color: #F9F9F9;
    cursor: pointer;
    border-radius: 8px 8px 20px 8px;
}

.forneca .menu-1 .topo-ramo-final{
    margin:5px 0px 0px 2px;
    text-align: center;
}

.forneca .menu-1 .row.ramo-final{
    width: 100%;
    max-width: 927px;
    margin: auto;
    padding-top: 15px;
}

.forneca .menu-1 .ramo-final .ramo-final-resposta{
    background-color:#F9F9F9;
    color: #89879E;
    margin-bottom: 21px;
    padding: 15px 0px 0px 15px;
    border-radius: 5px;
}

.forneca .menu-1 .topo-ramo-final h3{
    color: #00B976;
}

.forneca .menu-1 .ramo-final .col p{
    color: #2C2858;
    margin-bottom: 1px;
}
.forneca .menu-1 .ramo-final .ramo-final-img{
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: 232px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    border-radius: 8px;
}


    /*MENU-2*/
.forneca .topico-2{
    position:absolute;
    top: 548px;
    left: 16vw;
    padding-left: 0px;
    width: 215px;
    height: 70px;
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #E9E9E9;
    text-align: center;
    cursor: pointer;
}

.forneca .dropdown-menu.menu-2{
    position:absolute !important;
    top: -90px !important;
    left: 230px !important;
    padding-left: 0px !important;
    min-width: 43rem;
    height: 100%;
    min-height: 611px;
    box-shadow: none !important;
    border-radius: 10px 10px 10px 10px !important;
    border: none;
    cursor:default;
}

.forneca .mar-2 {
    margin-top: 13px;
}

.forneca .topico-2 img{
    margin-left: -42px;
 }

.forneca .menu-2 h6{
color: #2C2858;
}

.forneca #tributacao-tela-2,
.forneca #tributacao-tela-final{
    display: none;
}

.forneca .menu-2 .num-progresso-1 {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 62px;
    left: 18px;
    padding-top: 11px;
    padding-left: 9px;
    color: #FFFFFF;
    background-color: #6694FB;
    border-radius: 15px;
}

.forneca .menu-2 .num-progresso-2 {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 62px;
    left: 618px;
    padding-top: 11px;
    padding-left: 9px;
    color: #FFFFFF;
    background-color: #6694FB;
    border-radius: 15px;
}

.forneca .menu-2 .row.radio-tributacao{
    width: 100%;
    max-width: 927px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 20px;
}

.forneca .menu-2 .select{
    width: 285px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    background: #FFFFFF;
    opacity: 0.5;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 4px;
}

.forneca .menu-2 .row.radio{
    width: 400px;
    margin: 0;
    padding-top: 0px;

}

.forneca .menu-2 .col.radio{
    height: 40px;
    margin-right: 20px;
    padding-top: 8px;
    background: #F9F9F9;
    border-radius: 10px;
}

.forneca .menu-2 input[type="radio"]{
    margin-right: 25px;
}

.forneca .menu-2 .proxima{
    position: absolute;
    width: 100%;
    max-width: 115px;
    height: 40px;
    top: 529px;
    right: 56px;
    padding-top: 9px;
    padding-left: 29px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    background: #6694FB;
    border-radius: 8px 8px 20px 8px;
}
.forneca .menu-2 #tributacao-tela-final .proxima{
    position: absolute;
    width: 100%;
    max-width: 115px;
    height: 40px;
    top: 630px;
    right: 56px;
    padding-top: 9px;
    padding-left: 29px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    background: #6694FB;
    border-radius: 8px 8px 20px 8px;
}

.forneca .menu-2 .anterior{
    position: relative;
    width: 100%;
    max-width: 115px;
    height: 40px;
    right: 0px;
    margin: 30px 15px 30px 14px;
    padding-top: 9px;
    padding-left: 29px;
    font-size: 14px;
    color: #89879E;
    background-color: #F9F9F9;
    cursor: pointer;
    border-radius: 8px 8px 20px 8px;
}

.forneca .menu-2 .topo-tributacao-final{
    margin:5px 0px 0px 2px;
    text-align: center;
}

.forneca .menu-2 .row.tributacao-final{
    width: 100%;
    max-width: 927px;
    margin: auto;
    padding-top: 15px;
}

.forneca .menu-2 .tributacao-final .tributacao-final-resposta{
    background-color:#F9F9F9;
    color: #89879E;
    margin-bottom: 21px;
    padding: 15px 0px 0px 15px;
    border-radius: 5px;
}

.forneca .menu-2 .topo-tributacao-final h3{
    color: #00B976;
}

.forneca .menu-2 .tributacao-final .col p{
    color: #2C2858;
    margin-bottom: 1px;
}

.forneca .menu-2 .tributacao-final .tributacao-final-img{
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: 232px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    border-radius: 8px;
}


    /*MENU-3*/
.forneca .topico-3{
    position:absolute;
    top: 640px;
    left: 16vw;
    padding-left: 0px;
    width: 215px;
    height: 70px;
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #E9E9E9;
    text-align: center;
    line-height: 0px;
    cursor: pointer;
}

.forneca .dropdown-menu.menu-3{
    position:absolute !important;
    top: -182px !important;
    left: 230px !important;
    padding-left: 0px !important;
    min-width: 43rem;
    height: 611px !important;
    box-shadow: none !important;
    border-radius: 10px 10px 10px 10px !important;
    border: none;
    cursor:default;
}

.forneca .dropdown-toggle.drop-3 {
    line-height: 0px !important;
}

.forneca .mar-3 {
    margin-top: 8px;
}

.forneca .topico-3 img{
    margin-left: -34px;
 }


    /*MENU-4*/
.forneca .topico-4{
    position:absolute;
    top: 730px;
    left: 16vw;
    padding-left: 0px;
    width: 215px;
    height: 70px;
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #E9E9E9;
    text-align: center;
    cursor: pointer;
}

.forneca .dropdown-menu.menu-4{
    position:absolute !important;
    top: -272px !important;
    left: 230px !important;
    padding-left: 0px !important;
    min-width: 43rem;
    height: 611px !important;
    box-shadow: none !important;
    border-radius: 10px 10px 10px 10px !important;
    border: none;
    cursor:default;
}

.forneca .mar-4 {
    margin-top: 18px;
}

.forneca .topico-4 img{
    margin-left: -42px;
 }


    /*MENU-5*/
.forneca .topico-5{
    position:absolute;
    display: hidden;
    top: 820px;
    left: 16vw;
    padding-left: 0px;
    width: 215px;
    height: 70px;
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #E9E9E9;
    text-align: center;
    cursor: pointer;
}

.forneca .dropdown-menu.menu-5{
    position:absolute !important;
    top: -362px !important;
    left: 230px !important;
    padding-left: 0px !important;
    min-width: 43rem;
    height: 611px !important;
    box-shadow: none !important;
    border-radius: 10px 10px 10px 10px !important;
    border: none;
    cursor:default;
}

.forneca .mar-5 {
    margin-top: 13px;
}


    /*MENU-6*/
.forneca .topico-6{
    position:absolute;
    top: 910px;
    left: 16vw;
    padding-left: 0px;
    width: 215px;
    height: 70px;
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #E9E9E9;
    text-align: center;
    cursor: pointer;
}

.forneca .dropdown-menu.menu-6{
    position:absolute !important;
    top: -452px !important;
    left: 230px !important;
    padding-left: 0px !important;
    min-width: 43rem;
    height: 611px !important;
    box-shadow: none !important;
    border-radius: 10px 10px 10px 10px !important;
    border: none;
    cursor:default;
}

.forneca .mar-6 {
    margin-top: 13px;
}


    /*MENU-7*/
.forneca .topico-7{
    position:absolute;
    top: 1000px;
    left: 16vw;
    padding-left: 0px;
    width: 215px;
    height: 70px;
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #E9E9E9;
    text-align: center;
    cursor: pointer;
}

.forneca .dropdown-menu.menu-7{
    position:absolute !important;
    top: -542px !important;
    left: 230px !important;
    padding-left: 0px !important;
    min-width: 43rem;
    height: 611px !important;
    box-shadow: none !important;
    border-radius: 10px 10px 10px 10px !important;
    border: none;
    cursor:default;
}

.forneca .mar-7{
    margin-top: 13px;
}

.forneca .topico-7 img{
   margin-left: -70px;
}


    












         /* NOTÍCIAS */

.noticias .banner{
    height: 400px;
    background-color: #E6E9F1;
}

.noticias .row.area{
    width: 100%;
    max-width: 800px;
    flex-wrap: nowrap;
    margin-left:13vw;
    padding-top: 75px;
}


.noticias .icone{
    width: 80px;
    height: 80px;
    margin-right: 25px;
}

.noticias .icone img{
    width: 80px;
    height: 80px;
    margin-top: 15px;
}

.noticias .info h2{
    margin-top: 35px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-weight: 600;
    color:#2C2858;
}

.noticias .fundo{
    height: 1185px;
}

.noticias .form.desc{
    position:absolute;
    top: 316;
    left: 13vw;
    padding-left: 0px;
    width: 100%;
    max-width: 990px;
    height: 1225px;
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
}

.noticias .form.desc img{
    width: 300px;
    border-radius: 5px 5px 35px 5px;
}

.noticias .form.desc .col-sm-4{
    max-width: 310px;
    margin-right: 0px;
    margin-left: 10px;
    margin-bottom: 45px;
}
.noticias .form.desc .col-sm-4:first-child{
    margin-left: 25px;
}

.noticias .marca{
    position: absolute;
    top:150px;
    right:60px
}






        /* NOTICIA */

.noticia .banner{
    height: 400px;
    background-color: #E6E9F1;
}

.noticia .row.area{
    width: 100%;
    max-width: 990px;
    flex-wrap: nowrap;
    margin-left:13vw;
    padding-top: 35px;
}


.noticia .bot {
    position: absolute;
    width: 100%;
    max-width: 981px;
}

.noticia .info {
    position: absolute;
    width: 100%;
    max-width: 990px;
    padding-top: 48px;
    padding-left: 186px;
    padding-right: 155px;
}

.noticia .date {
    position: absolute;
    width: 100%;
    max-width: 990px;
    padding-top: 158px;
    padding-left: 500px;
    padding-right: 155px;
    color: #89879E;
    font-size: 15px;
}

.noticia .info h4 {
    font-size: 27px;
    font-weight: 600;
    color: #2C2858;
    text-align: center;
}

.noticia .fundo{
    height: 1600px;
}

.noticia .form.desc{
    position:absolute;
    top: 316;
    left: 13vw;
    padding-left: 156px;
    padding-right: 155px;
    width: 100%;
    max-width: 990px;
    height: 1225px;
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
}

.noticia .form.desc .img-noticia{
    width: 679px;
    height: 300px;
    margin: auto;
    border-radius: 5px 5px 35px 5px;margin-bottom: 25px;
}

.noticia .form.desc span{
    color: #89879E;
}

.noticia .form.desc p{
    width: 679px;
    overflow-x:hidden;
}

.noticia .form.desc h5{
    font-size: 15px;
    font-weight: 700;
    color: #2C2858;
}

.noticia .marca{
    position: absolute;
    top:150px;
    right:60px
}

.noticia .botao-noticias{
    width: 100px;
    height: 30px;
    padding-top:5px;
    padding-left: 18px;
    margin:auto;
    font-size: 14px;
    color: #89879E;
    border-radius: 15px;
    background-color: #FFFFFF;
}





       /* PERFIL USUÁRIO*/

.perfil-usuario{
    background-color: #E6E9F1;
    height: 100%;
} 

.perfil-usuario .container{
    padding-top: 20px;
}
.perfil-usuario .title{
    width: 100%;
    max-width: 1070px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
}

.perfil-usuario .title h2{
    margin-top: 27px;
    font-weight: 700;
    color: #2C2858;
}

.perfil-usuario .info-total{
    width: 100%;
    max-width: 1070px;
    height: 350px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border-radius: 10px;
    background-color:#FFFFFF;
}

.perfil-usuario .info-total .img-perfil{
    width:287px;
    Height: 206px;
    border-radius: 5px;
}

.perfil-usuario .info-total span{
    color: #89879E;
}

.perfil-usuario .info-total p{
    font-size: 18px;
    color: #2C2858;
    margin-bottom: 25px;
}

.perfil-usuario .info-total input[type="password"]{
    width: 100%;
    max-width: 280px;
    height: 35px;
    margin-top: 15px;
    padding-top:3px;
    padding-left: 15px;
    font-size:13px ;
    border:1px solid  #89879E;
    border-radius: 5px;
}

.perfil-usuario .info-total input[name="nome"],
.perfil-usuario .info-total input[name="email"]{
    width: 100%;
    max-width: 280px;
    height: 35px;
    margin-top: 15px;
    padding-top:3px;
    padding-left: 15px;
    font-size:13px ;
    border:1px solid  #89879E;
    border-radius: 5px;
}

.perfil-usuario .info-total input[type="submit"]{
    width: 100%;
    max-width: 280px;
    height: 40px;
    margin-top: 20px;
    color: #FFFFFF;
    background: #6694FB;
    border-radius: 5px 5px 20px 5px;
}

.perfil-usuario .info-total .sair{
    width: 100%;
    max-width: 280px;
    margin-top: 25px;
    text-align: center;
}
.perfil-usuario .info-total .img-sair{
    width: 15px;
    margin-right: 10px;
}

.perfil-usuario .info-total .link-sair{
    text-decoration: none;
    font-size: 10px;
    color: #89879E;
}

.perfil-usuario .info-total .row.importar{
    width: 100%;
    max-width: 300px;
    max-height: 60px;
}

.perfil-usuario .info-total .row.importar form{
    width: 100%;
    max-width: 150px;
}

.perfil-usuario .info-total .row.importar span{
    color: #89879E;
    max-width: 123px;
    margin-top: 15px;
    margin-left: 18px;
}

input[type="file"]{
    display: none;
}
.perfil-usuario .info-total .row.importar label{
    width: 100%;
    max-width: 153px;
    margin-top: 15px;
    margin-left: 20px;
    text-align: center;
    font-size: 14px;
    height: 20px;
    color: #FFFFFF;
    background-color: #6694FB;
    border-radius: 4px;
    cursor: pointer;
}









        /*VER EMPRESAS*/

.ver-empresas .container-fluid{
    padding-right: 0px; 
    padding-left: 0px;
    background-color:#F8F8F8 ;
}
.ver-empresas .mix{
    background-color: #E6E9F1;
}

.ver-empresas .mix .row{
    margin-left: 0px;
    margin-right: 0px;
}

.ver-empresas .mix .col-sm-7{
    max-width: 740px;
    padding: 0px;
}

.ver-empresas .mix .empresas-cadastradas{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(90.13deg, #2C2858, #615BA3);
}

.ver-empresas .mix .empresas-cadastradas  .title{
    margin-top:45px ;
    margin-left: 200px;
    margin-bottom: 25px;
}

.ver-empresas .mix .empresas-cadastradas  .cadastradas{
    padding: 18px 0px 18px 20px;
    text-align: start;
}

.ver-empresas .mix .empresas-cadastradas  .cadastradas h1{
    margin-top: 5px;
    font-weight: 700;
}


.ver-empresas .mix .empresas-cadastradas  .cadastradas .img-cadastradas{
    width: 64px;
    margin-right: 35px;
}

.ver-empresas .mix .empresas-cadastradas  .cadastradas .info-cadastradas{
    width: 100%;
    max-width: 110px;
    margin-top: 5px;
    margin-left: 20px;
}

.ver-empresas .mix .empresas-cadastradas  .col-sm-6{
    width: 100%;
    max-width: 500px;
    height: 100px;
    margin-left: 200px;
    margin-bottom: 30px;
    border-radius: 8px 8px 30px 8px;
    box-shadow: 0px 18px 25px rgba(0, 0, 0, 0.2);
    background:linear-gradient(90.13deg, #6694FB, rgba(102, 148, 251, 0.49));
}

.ver-empresas .mix .cadastrar{
    background-color: #E6E9F1;
}

.ver-empresas .mix .cadastrar .colunas{
    margin-left: 200px;
}

.ver-empresas .mix .cadastrar .botao{
    width: 100%;
    max-width: 225px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    padding-top: 9px;
    padding-left: 29px;
    font-size: 14px;
    color: #FFFFFF;
    background: #6694FB;
    border-radius: 8px 8px 20px 8px;
}

.ver-empresas .mix .cadastrar .colunas a{
    text-decoration: none;
}

.ver-empresas .mix .cadastrar .info{
    width: 100%;
    max-width: 306px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #89879E;
    text-align: left;
    font-size: 12px;
    
}

.ver-empresas .mix .cadastrar .info span{
    color:  #2C2858;
    opacity: 0.8;
    font-weight: 700;
}


.ver-empresas .mix  .col-sm-5 {
    width: 100%;
    max-width: 473px;
    margin-right:auto;
    color: #2C2858;
}

.ver-empresas .empresas{
    width: 100%;
    max-width: 940px;
    margin-left: 203px;
}

.ver-empresas .empresas .topo{
    margin-top:40px;
}

.ver-empresas .empresas .topo .pesquisa{
    width: 200px;
    height: 30px;
    border: none;
    padding: 6px 0px 7px 20px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.ver-empresas .empresas .topo .pesquisa ::-webkit-input-placeholder{
    font-size: 11px;
    color: #89879E;

}

.ver-empresas .empresas .topo .lupa{
    width: 30px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 0px 5px 5px 0px;
}

.ver-empresas .empresas .topo .ordenar{
    margin-left:auto;
}

.ver-empresas .empresas .topo .ordem{
    width: 200px;
    height: 30px;
    margin-top: 5px;
    margin-left:auto;
    padding: 3px 5px 10px 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.ver-empresas .empresas .topo .ordem label{
    font-size: 11px;
    color: #89879E;
}

.ver-empresas .empresas .topo .ordem select{
    height: 20px;
    border:none;
    outline: none;
    color: #89879E;
}

.ver-empresas .empresas .topo .ordem select option{
    color: #89879E;
}

.ver-empresas .empresas .topo .ordem select option img{
    width: 10px;
}


.ver-empresas .empresas .cartao{
    margin-top:40px;
    border-radius: 5px;
    padding: 30px 34px 30px 22px;
    background-color: #FFFFFF;
}

.ver-empresas .empresas .cartao .col-sm-4{
    max-width: 285px;
}

.ver-empresas .empresas .cartao .opcoes .nome span{
    font-size: 14px;
    color: #89879E;
}

.ver-empresas .empresas .cartao .opcoes .menus .visualizar,
.ver-empresas .empresas .cartao .opcoes .menus .relatorios,
.ver-empresas .empresas .cartao .opcoes .menus .editar,
.ver-empresas .empresas .cartao .opcoes .menus .excluir{
    text-align: center;
    margin-bottom: 40px;
    margin-right: 30px;
}

.ver-empresas .empresas .cartao .opcoes .menus a{
    text-decoration: none;
    font-size: 12px;
    color: #89879E;
    ;
}

.ver-empresas .empresas .cartao .opcoes .menus img{
    width: 15px;
    margin-right: 8px;
}


.ver-empresas .empresas .cartao .info{
    margin-left:28px;
    margin-right: 28px;
    background-color: #F5F8FF;
    border-radius: 8px;
}

.ver-empresas .empresas .cartao .oportunidades{
    background-color: #E1FAF4;
    border-radius: 8px;
}

.ver-empresas .empresas .cartao .info img,
.ver-empresas .empresas .cartao .oportunidades img{
    width: 50px;
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
}

.ver-empresas .empresas .cartao .info .info-texto{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    color:#6694FB;
}
.ver-empresas .empresas .cartao .oportunidades .opo-texto{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    color: #00B976;
}

.ver-empresas .empresas .cartao .info .porcentagem-info{
    max-width: 68px;
    margin-top: 25px;
    color:#6694FB;
}

.ver-empresas .empresas .cartao .oportunidades .porcentagem-opo{
    margin-top: 25px;
    color: #00B976;
}

.ver-empresas .empresas .cartao .info .progress{
    height: 7px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
    max-width: 200px;
}

.progress-bar.color{
    background-color:  #FA8D6B;
}

.progress-bar.color-2{
    background-color:  #FBC866;
}

.progress-bar.color-3{
    background-color:  #00B976;
}

.progress-bar.color-perguntas{
    background-color:  #6694FB;
}

.progress-bar.color-perguntas-verde{
    background-color:  #00B976;
}

.ver-empresas .empresas .cartao .oportunidades .progress{
    height: 8px;
}

.ver-empresas .empresas .cartao .info .atualizar a,
.ver-empresas .empresas .cartao .oportunidades .ver a{
    text-decoration: none;
    color: #89879E;
}

.ver-empresas .empresas .cartao .info .atualizar{
    margin-left: 10px;
}

.ver-empresas .empresas .cartao .oportunidades .ver{
    margin-top: 85px;
    margin-left: 20px;
}

.ver-empresas .paginacao{
    width: 100%;
    max-width: 940px;
    margin-left: 203px;
    text-align: center;
    margin-top: 45px;
}

.ver-empresas .paginacao .page-numbers{
    margin: 5px;
    color: #89879E;
}

.ver-empresas .paginacao .page-numbers.current{
    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: #6694FB;
    border-radius: 5px 5px 10px 5px;
    color: #FFFFFF;
}

.ver-empresas .paginacao .prev,
.ver-empresas .paginacao .next{
    color: #6694FB;
    font-weight: 700;
}

.ver-empresas .marca img{
    width: 188px;
}

.ver-empresas .marca{
    position: absolute;
    top:105px;
    right:200px;
}






        /*VER EMPRESAS*/

.empresa-relatorio .container-fluid{
    padding-right: 0px; 
    padding-left: 0px;
    background-color:#F8F8F8 ;
}
.empresa-relatorio .mix{
    background-color: #E6E9F1;
}

.empresa-relatorio .mix .row{
    margin-left: 0px;
    margin-right: 0px;
}

.empresa-relatorio .mix .col-sm-7{
    max-width: 740px;
    padding: 0px;
}

.empresa-relatorio .mix .empresas-cadastradas{
    width: 100%;
    text-align: center;
    color: #FFFFFF;   
}

.empresa-relatorio .mix .empresas-cadastradas  .cadastradas{
    padding: 18px 0px 18px 20px;
    text-align: start;
}

.empresa-relatorio .mix .empresas-cadastradas  .cadastradas .img-cadastradas{
    width: 64px;
    margin-right: 35px;
}

.empresa-relatorio .mix .empresas-cadastradas  .cadastradas .info-cadastradas{
    width: 100%;
    max-width: 110px;
    margin-top: 5px;
    margin-left: 20px;
}

.empresa-relatorio .mix .empresas-cadastradas  .col{
    width: 100%;
    max-width: 940px;
    height: 100px;
    margin-left: 200px;
    margin-bottom: 30px;
    border-radius: 8px 8px 30px 8px;
    box-shadow: 0px 18px 25px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90.13deg, #2C2858, #615BA3);
}

.empresa-relatorio .mix .cadastrar{
    background-color: #E6E9F1;
}

.empresa-relatorio .mix .cadastrar .colunas{
    margin-left: 200px;
}

.empresa-relatorio .mix .cadastrar .botao{
    width: 100%;
    max-width: 225px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    padding-top: 9px;
    padding-left: 29px;
    font-size: 14px;
    color: #FFFFFF;
    background: #6694FB;
    border-radius: 8px 8px 20px 8px;
}

.empresa-relatorio .mix .cadastrar .info{
    width: 100%;
    max-width: 306px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #89879E;
    text-align: left;
    font-size: 12px;
    
}

.empresa-relatorio .mix .cadastrar .info span{
    color:  #2C2858;
    opacity: 0.8;
    font-weight: 700;
}


.empresa-relatorio .mix  .col-sm-5 {
    width: 100%;
    max-width: 473px;
    margin-right:auto;
    color: #2C2858;
}

.empresa-relatorio .empresas{
    width: 100%;
    max-width: 940px;
    margin-left: 203px;
}

.empresa-relatorio .empresas .topo{
    margin-top:40px;
}

.empresa-relatorio .empresas .topo .pesquisa{
    width: 200px;
    height: 30px;
    border: none;
    padding: 6px 0px 7px 20px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.empresa-relatorio .empresas .topo .pesquisa ::-webkit-input-placeholder{
    font-size: 11px;
    color: #89879E;

}

.empresa-relatorio .empresas .topo .lupa{
    width: 30px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 0px 5px 5px 0px;
}

.empresa-relatorio .empresas .topo .ordenar{
    margin-left:auto;
}

.empresa-relatorio .empresas .topo .ordem{
    width: 200px;
    height: 30px;
    margin-top: 5px;
    margin-left:auto;
    padding: 3px 5px 10px 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.empresa-relatorio .empresas .topo .ordem label{
    font-size: 11px;
    color: #89879E;
}

.empresa-relatorio .empresas .topo .ordem select{
    height: 20px;
    border:none;
    outline: none;
    color: #89879E;
}

.empresa-relatorio .empresas .topo .ordem select option{
    color: #89879E;
}

.empresa-relatorio .empresas .topo .ordem select option img{
    width: 10px;
}

.empresa-relatorio .empresas .cartao{
    margin-top:40px;
    border-radius: 5px;
    padding: 30px 34px 30px 22px;
    background-color: #FFFFFF;
}

.empresa-relatorio .empresas .cartao .col-sm-4{
    max-width: 285px;
}

.empresa-relatorio .empresas .cartao .opcoes .nome span{
    font-size: 14px;
    color: #89879E;
}

.empresa-relatorio .empresas .cartao .opcoes .menus .visualizar,
.empresa-relatorio .empresas .cartao .opcoes .menus .relatorios,
.empresa-relatorio .empresas .cartao .opcoes .menus .editar,
.empresa-relatorio .empresas .cartao .opcoes .menus .excluir{
    text-align: center;
    margin-bottom: 40px;
    margin-right: 30px;
}

.empresa-relatorio .empresas .cartao .opcoes .menus a{
    text-decoration: none;
    font-size: 12px;
    color: #89879E;
    ;
}

.empresa-relatorio .empresas .cartao .opcoes .menus img{
    width: 15px;
    margin-right: 8px;
}


.empresa-relatorio .empresas .cartao .info{
    margin-left:28px;
    margin-right: 28px;
    background-color: #F5F8FF;
    border-radius: 8px;
}

.empresa-relatorio .empresas .cartao .oportunidades{
    background-color: #E1FAF4;
    border-radius: 8px;
}

.empresa-relatorio .empresas .cartao .info img,
.empresa-relatorio .empresas .cartao .oportunidades img{
    width: 50px;
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
}

.empresa-relatorio .empresas .cartao .info .info-texto{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    color:#6694FB;
}

.empresa-relatorio .empresas .cartao .oportunidades .opo-texto{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    color: #00B976;
}

.empresa-relatorio .empresas .cartao .info .porcentagem-info{
    max-width: 68px;
    margin-top: 25px;
    color:#6694FB;
}

.empresa-relatorio .empresas .cartao .oportunidades .porcentagem-opo{
    margin-top: 25px;
    color: #00B976;
}

.empresa-relatorio .empresas .cartao .info .progress{
    height: 7px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
    max-width: 200px;
}

.empresa-relatorio .empresas .cartao .info .progress-bar.color{
    background-color:  #FA8D6B;
}

.empresa-relatorio .empresas .cartao .info .progress-bar.color-2{
    background-color:  #FBC866;
}

.empresa-relatorio .empresas .cartao .info .progress-bar.color-3{
    background-color:  #00B976;
}

.empresa-relatorio .empresas .cartao .oportunidades .progress{
    height: 8px;
}

.empresa-relatorio .empresas .cartao .info .atualizar a,
.empresa-relatorio .empresas .cartao .oportunidades .ver a{
    text-decoration: none;
    color: #89879E;
}

.empresa-relatorio .empresas .cartao .info .atualizar{
    margin-left: 10px;
}

.empresa-relatorio .empresas .cartao .oportunidades .ver{
    margin-top: 85px;
    margin-left: 20px;
}

.empresa-relatorio .paginacao{
    width: 100%;
    max-width: 940px;
    margin-left: 203px;
    text-align: center;
    margin-top: 45px;
}

.empresa-relatorio .paginacao .page-numbers{
    margin: 5px;
    color: #89879E;
}

.empresa-relatorio .paginacao .page-numbers.current{
    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: #6694FB;
    border-radius: 5px 5px 10px 5px;
    color: #FFFFFF;
}

.empresa-relatorio .paginacao .prev,
.empresa-relatorio .paginacao .next{
    color: #6694FB;
    font-weight: 700;
}
        